body {
   background: url(../img/bg02.png) no-repeat;
   margin:0;
   padding:0;
}
a:focus, a:active,
button::-moz-focus-inner,
select::-moz-focus-inner,
input,select,input[type="file"] > input[type="button"]::-moz-focus-inner{
    border: 0;
    outline : 0;
} 
.container{
    width: 420px;
    height: 340px;
  /*background: rgba(255,255,255,0.65); */
    padding: 20px;
    margin: 100px auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.title{
    width: 100%;
    height: 16%;
    border: 1px solid #091d28;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #091d28;
}
.title span{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin: 0 6px;
}
.box{
    width: 100%;
    height: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
    background-image:-webkit-linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.8));
    background-image:-o-linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.8));
    background-image:linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.8));
}
.cell{
    width: 60%;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin: 24px 0 0 0;
}
.cell input{
    height: 32px;
    width: 80%;
    font-size: 14px;
    text-indent: 10px;
    border: 1px solid #e4dddd;
    border-radius: 0 4px 4px 0;
}
.cell input:focus{
    border-color: #4ce0ff;
    transition: all 500ms linear;
}
.cell label{
    display: inline-block;
    height: 34px;
    width: 20%;
    text-align: center;
    background: #fff;
/*  border-right: 1px solid #e4dddd; */
    border: 1px solid #e4dddd;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
}
.cell i{
    color: #999;
}
.check{
    color: rgb(122, 122, 122);
    width: 60%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.check input,.check label{
    cursor: pointer;

}
.remember{
    height: 36px;
}
.content{
    width: 60%;
    height: 34px;
    margin-top: 16px;
    color: red;
    font-weight: 600;
    text-shadow: 0 1px 3px black;
}
.remember,.identify{
    display: flex;
    align-items: flex-start;
}
/* checkcode */
#checkcode{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
input.getcode{
    width: 54%;
    cursor: text;

}
img.getcode{
    width: 34%;
    height: 33px;
    border: 1px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
}

button.login{
    width: 40%;
    height: 34px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-top: 16px;
    background:  -webkit-linear-gradient(rgb(74,162,241), rgb(52,119,182)) 1px 0 no-repeat;
    background:  -o-linear-gradient(rgb(74,162,241), rgb(52,119,182)) 1px 0 no-repeat;
    background:  linear-gradient(rgb(74,162,241), rgb(52,119,182)) 1px 0 no-repeat;
    border: rgb(52,119,182);
    cursor: pointer;
}
button.login:hover{
    text-shadow:0 0 2px rgb(255,255,255);
    box-shadow:inset 0 1px 0 rgb(86,174,251),0 0 10px 3px rgba(74,162,241,0.5);
    transition: all 200ms linear;
}
